.btn {
  border-radius: 4px;
  transition: all .3s;
}

.siteHeader {
  border-bottom: 1px solid #eee;
}
.ex1 {
margin-left: 60px;
}
.logo {
  margin-bottom: 0;
  height: 80px;
}
.columnLogo {
	margin-bottom: 0;
	height: 250px;
}
.button {
	font-style:none;
	outline:0px;
	width:120px;
	height:80px;
}

.buttonlink:link,
.buttonlink:visited,
.buttonlink:hover,
.buttonlink:active {
color:#000000; 
background-color:transparent; 
text-decoration:none
}

.nav .buttonlink ul:first-of-type {
    border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
}

@media (min-width: 48em) {
  .nav {
	background-color: #ADADAD;
	margin-top: 20px;
    float: right;
	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px
  }
}
.nav li {
  font-style: none;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  line-height: 2.5;
  text-align: center;
  margin: 0px;
  width: 150px;
  height: 40px;
}
.nav li:hover{
  background-color: #BDBDBD;
}
.nav li:hover:first-child {
}
.nav li:first-of-type {
  margin-left: 0;
}
.nav li:first-child, .nav li:first-child:hover {
    border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;
}
.nav li:last-child, .nav li:last-child:hover {
    border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px;
}

.masthead {
  background: url("../images/Headerlogo.jpg") no-repeat center center;
  height: 400px;
  background-size: cover;
  padding-bottom: 36px;
  padding-top: 36px;
  
}

.backgroundstatistics {
  background: url
}

.calculator {
    border-radius: 25px;
    background: #adadad;
    padding: 10px;
    width: 400px;
    height: 600px;
	border: 4px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 3%;
}

@media (min-width: 48em) {
  .masthead {
    padding: 75px 0;
  }
}

.masthead-title {
  margin-top: 0;
}

.siteContent {
  padding: 50px 0;
}
.siteContent .btn {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #666;
}
.siteContent .btn:hover {
  background-color: #eee;
}

.siteFooter {
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.meter {
  width: 500px;
  height: 25px;
  -webkit-appearance: none; /* Reset appearance */
  border: 1px solid #ccc;
  border-radius: 3px;
}

.image {
width: 100%;
}

.barStats {
width: 30%;
}

.graphStats {
width: 30%;
}

.barStats:hover {
border: 2px solid black;
}
.barStats:focus {
width:70%;
}
.graphStats:focus {
width:70%;
}
.graphStats:hover {
border: 2px solid black;
}
.circlegraph {
float:right;
width: 30%;
}
.circlegraph:hover {
border: 2px solid black;
}
.circlegraph:focus {
width:70%;
}

.vertical-divider{
    clear: both;
    position: relative;
}

.vertical-divider:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.vertical-divider .column:not(:first-child):after, .vertical-divider .columns:not(:first-child):after{
    background: #DDDDDD;
    bottom: 0;
    content: " ";
    margin-left: -10px;
    position: absolute;
    top: 0;
    width: 1px;
}

/* Very simple grid for example */
.container { position: relative; width: 960px; margin: 20px auto; padding: 0; }

.container .column, .container .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }

.container .one-third.column { width: 300px; }

.container .two-thirds.column { width: 620px; }
