<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<description>
       Servlets for an online fitness coach web application.
    </description>
	<display-name>Online fitness coach</display-name>

	
	<servlet>	
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>core.UserServlet</servlet-class>
	</servlet>
	<servlet>	
		<servlet-name>WebpageServlet</servlet-name>
		<servlet-class>core.WebpageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>searches.FoodServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActivityServlet</servlet-name>
		<servlet-class>searches.ActivityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GoalServlet</servlet-name>
		<servlet-class>searches.GoalServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
		    <param-name>jersey.config.server.provider.packages</param-name>
		    <param-value>statistics</param-value>
		</init-param>
  	</servlet>

	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/Intake</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/intake</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/moreFood</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ActivityServlet</servlet-name>
		<url-pattern>/IntakeA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivityServlet</servlet-name>
		<url-pattern>/SearchA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActivityServlet</servlet-name>
		<url-pattern>/intakeA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoalServlet</servlet-name>
		<url-pattern>/SetGoal</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/forum</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/InAbout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/InContact</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/registerinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/start</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/startAbout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/startMath</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/startStats</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/startTrack</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/statistics</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/webapp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/yourHomePage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebpageServlet</servlet-name>
		<url-pattern>/registerInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>